#form-container {
    margin: 0 2.5rem;
}

#form-header{
    text-align: center;
    font-size: 3rem;
    font-weight: 200;
    padding: 1rem 0.25rem;
    animation-name: fade-in;
    animation-duration: 1s;
}


Form .card
{
    border-radius: 21px;
background: #f6f7f3;
box-shadow:  16px 16px 32px #ecede9,
             -16px -16px 32px #fffffd;
}


