/* All animations are in frontend/index.css */

.MessageBoard{
    padding: 80px 100px;
    animation-name: fade-in;
    animation-duration: 1s;
}

.MessageBoard form {
    background-color: rgb(56, 57, 49);
    padding: 40px;
}

.MessageBoard label {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.pill {
    width:30%;
    height:50px;
    border-radius: 8px;
    padding:5px;
             
}

.MessageBoard textarea {
    width: 100%;
    height: 60vh;
    padding: 10px;
    outline: none;
    border-radius:8px;
    resize: none;
}

.MessageBoard.card {
    border-radius: 10px;
}

.MessageBoard .form .card {
    padding: 10px;
}

.MessageBoard input, .MessageBoard textarea {
    background-color: rgb(95, 95, 95);
    color: white;
    font-size: 18px;
}

.MessageBoard button {
    width: 20%;
    padding: 20px;
}