.Home {
    margin: 0 2.5rem;
}
.Home h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 200;
    padding: 1rem 0.25rem;
    animation-name: fade-in;
    animation-duration: 1s;
}

.Home h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
}

.Home hr {
    width: 80%;
    text-align: center;
}

.box-1 .box-1-left, .box-1 .box-1-right {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}

.box-1-left p {
    text-align: center;
}

.box-1-right {
    position: relative;
}

.box-1-right img {
    display: block;
    margin: auto;
}


@keyframes slide-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(2vh);
    }
    to {
        opacity: 1;
    }
}

.card
{
    border-radius: 21px;
background: #f6f7f3;
box-shadow:  16px 16px 32px #ecede9,
             -16px -16px 32px #fffffd;
}

.card-font{
    font-size:18px;
}

