.Home {
    margin: 0 2.5rem;
}
.Home h1 {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    font-weight: 200;
    height:400px;
    padding: 1rem 0.25rem;
    animation-name: fade-in;
    animation-duration: 1s;
    background-color:#2d2c2c ;
}

.Home h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
}

.Home hr {
    width: 80%;
    text-align: center;
}

.box-1 .box-1-left, .box-1 .box-1-right {
    display: inline-block;
    line-height: 1.75em;
    vertical-align: middle;
    width: 50%;
}

.box-1-left p {
    text-align: center;
}

.box-1-right {
    position: relative;
}

.box-1-right img {
    display: block;
    margin: auto;
}


@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(-10vh);
    }
    to {
        opacity: 1;
    }
}

.card
{
    font-size: 18px;
    border-radius: 8px;
background: #313030;
box-shadow:  5px 5px 10px #2d2c2c,
             -5px -5px 10px #2d2c2c;
}